@model ProyectoLenguajes.Models.DTO.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        form {
            border: 3px solid #f1f1f1;
            width: 60%;
            margin: auto;
            margin-top: 10px;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 29px;
            margin: 8px 0;
            display: intine—block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #DDE9F8;
            color: black;
            padding: 14px 29px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        .container {
            padding: 16px;
        }

        .allcontainer {
            padding: 16px;
            width: 100%
            heigh

        }

        body {
            background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
            height: 100%;
        }
        .msg {
            padding: 0px;
        }

        .err {
            color: red;
        }

        .title {
            color: #65C0BA;
            font-family: "Bebas Neue";
            font-size: 60px;
            margin-bottom: 5px
        }

        .texto {
            align-content: center;
            margin-left: 18px;
            text-align:center;
        }

        .texto p {
                font-family: "Calibri";
                font-size: 18px;
                color:aliceblue;
        }

    </style>
</head>
<body>
    <div class="allContainer">
        <div class="texto">
        <h1 class="title">Hello!</h1>
        <p>Sign up or log in</p>
        </div>

    <form asp-action="Login" method="post">
        <div class="container">

            <label asp-for="UserName">Username</label>
            <input type="text" asp-for="UserName" />
            <div class="msg">
                <span class="err" asp-validation-for="UserName"></span>
            </div>

            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" />
            <div class="msg">
                <span class="err" asp-validation-for="Password"></span>
            </div>

                @if (TempData["msg"] != null)
                {
                        <div class="msg">
                            <span class="err">@TempData["msg"]</span>
                        </div>
                }

            <button type="submit">Login</button>
            <a href="/UserAuthentication/Registration">Not a User? Click Here to Sign Up</a>

        </div>
    </form>
    </div>
    
</body>
