@model ProyectoLenguajes.Models.DTO.RegistrationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   @* <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/superadmin.css">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Registration" method="post">
                    <h1><center>Registration</center></h1>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" asp-for="Name" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>

                    <div class="form-group">
                        <label>UserName</label>
                        <input type="text" class="form-control" asp-for="UserName" />
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" asp-for="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" asp-for="Password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>

                    <div class="form-group">
                        <label>Password Confirm</label>
                        <input type="password" class="form-control" asp-for="PasswordConfirm" />
                        <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                    </div>

                    @if (TempData["msg"] != null)
                    {
                        <div class="form-group">
                            @TempData["msg"]
                        </div>
                    }

                    <button type="submit" class="btn btn-primary">SignUp</button>
                    <a class="btn btn-info" href="/UserAuthentication/Login">Login</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>